{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>Git and host it elsewhere</h1>
     <h3>Git repo init and push to remote</h3>
     <ul>
      <li>git init</li>
      <li>git add README.md</li>
      <li>git commit -"your message"</li>
      <li>git add remote origin https://github.com/URLtoRepo/myflask.git</li>
      <li>git push -u origin master</li>
     </ul>
     <h3>Pushing new code to remote</h3>
     <ul>
      <li>git commit -m</li>
      <li>git add</li>
      <li>git push origin master</li>
    </ul>
    <h3>Pull new code from remote</h3>
     <ul>
      <li>git fetch -all</li>
      <li>git pull</li>
     </ul>
     
   </div>
{% endblock %}